NEXT_PUBLIC_OPENAI_API_KEY==

NEXT_PUBLIC_X_CLIENT_ID=
NEXT_PUBLIC_X_CLIENT_SECRET=
NEXT_PUBLIC_BEARER_TOKEN=
NEXT_PUBLIC_APP_URL=

NEXT_PUBLIC_NGROK_AUTHTOKEN=
NEXT_PUBLIC_NGROK_STATIC_DOMAIN=

NEXT_PUBLIC_API_KEY=
NEXT_PUBLIC_API_SECRET=

NEXT_PUBLIC_ACCESS_TOKEN=
NEXT_PUBLIC_ACCESS_TOKEN_SECRET=

REPLICATE_API_TOKEN=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Solana Private Key for minting/burning NFTs
SOLANA_PRIVATE_KEY=